.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px;
}

.header__links-list {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.header__links-list-item {
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    text-decoration: underline;
    text-underline-offset: 5px;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    cursor: pointer;
}

.header__link_active {
    text-decoration: none;
    cursor: initial;
}

.header__logo {
    display: block;
}

.header__logo-image {
    width: 148px;
    height: 105px;
}

.address {
    margin: 0;
    padding: 0;
    max-width: 240px;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    text-underline-offset: 5px;
}

.header__address {
    padding-right: 35px;
    display: flex;
    justify-self: end;
    flex-direction: column;
}

.cover {
    padding: 165px 50px 50px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 0.6);
}

.cover__title {
    position: relative;
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 115%;
    text-transform: uppercase;

}

.aligned-text{
    display: block;
    margin-bottom: 20px;
}

.aligned-text_center {
    margin-left: 20px;
    text-align: center;
}

.aligned-text_right {
    text-align: right;
    margin-bottom: 0;
}

.letter-spacing-extended {
    letter-spacing: 30px;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    padding-top: 114px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.cover__description-text {
    font-weight: 400;
    color: #fff;
    word-spacing: 18px;
    font-size: 22px;
    font-style: normal;
    line-height: 28px;
    text-transform: uppercase;
}

.bet-button {
    padding: 12px 32px;
    width: 257px;
    height: 51px;
    font-size: 22px;
    text-transform: uppercase;
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    font-weight: 500;
    font-style: normal;
    line-height: 100%;
    text-align: center;
}

.lots {
    margin: 180px 25px 0;
}

.lots__heading {
    font-weight: 700;
    font-style: bold;
    font-size: 40px;
    line-height: 100%;
    text-transform: uppercase;
    padding-left: 40px;

}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding-top: 27px;
    list-style: none;
}

.lots__card-list-item {
    width: 333px;
    min-height: 596px;
    flex-grow: 1;
}

.card-link {
    text-decoration: none;
    height: 100%;
    display: block;
}

.card {
    padding: 50px 40px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 100%;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
    background-position: center;
    background-size: cover;
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
    background-position: center;
    background-size: cover;
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
    background-position: center;
    background-size: cover;
}

.card__title {
    position: relative;
    color: #fff;
    font-weight: 700;
    font-style: bold;
    font-size: 22px;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-style: solid;
}

.card__text {
    position: relative;
    color: #fff;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 120%;
}

.lots__look-more-link {
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 100%;
    display: inline-block;
    padding-left: 40px;
    padding-top: 30px;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.about {
    margin: 170px 24px 0;
    display: grid;
    grid-template-columns: 333px 1fr;
    gap: 25px;
}

.about__column {
    display: flex;
    flex-direction: column;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 240px;
    height: 240px;
    background-color: #000;
    border-radius: 50%;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__title {
    margin: 100px 0;
    font-weight: 700;
    font-style: bold;
    font-size: 40px;
    line-height: 100%;
    text-transform: uppercase;
}

.about__text-block {
    gap: 24px;
    display: flex;
    flex-direction: column;
}

.about__text {
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
}

.footer {
    margin-top: 180px; 
    padding: 0 50px 90px;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}

.footer__menu-list {
    text-align: center;
}

.footer__menu-list-item {
    list-style: none;
}

.footer__menu-link {
    text-decoration: underline;
    text-underline-offset: 5px;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    cursor: pointer;

}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    justify-content: end;
    gap: 48px;
}

.footer__social-list-item {
    list-style: none;
}

.footer__social-link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
    cursor: pointer;
}